# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.env

# IntelliJ related
*.iml
*.ipr
*.iws
/app/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
/app/**/doc/api/
/app/**/ios/Flutter/.last_build_id
/app/.dart_tool/
/app/.flutter-plugins
/app/.flutter-plugins-dependencies
/app/.packages
/app/.pub-cache/
/app/.pub/
/app/build/

# Web related
/app/lib/generated_plugin_registrant.dart

# Symbolication related
/app/app.*.symbols

# Obfuscation related
/app/app.*.map.json

# Android Studio will place build artifacts here
/app/android/app/debug
/app/android/app/profile
/app/android/app/release

# Python Venv and Brownie
/server/votestorage/build
/server/venv
/server/.vscode
/webuiserver/venv
/webuiserver/.vscode


# Random Files
/server/brownie_dump.json
/server/voter_dump.json
/server/voterid/secrets.json
/server/ssl_stuff
/webuiserver/ssl_stuff

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/evote-admin/node_modules
/evote-admin/.pnp
/evote-admin/.pnp.js

# testing
/evote-admin/coverage

# production
/evote-admin/build

# misc
/evote-admin/.DS_Store
/evote-admin/.env.local
/evote-admin/.env.development.local
/evote-admin/.env.test.local
/evote-admin/.env.production.local

/evote-admin/npm-debug.log*
/evote-admin/yarn-debug.log*
/evote-admin/yarn-error.log*